*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', 'Castoro', sans-serif;
}

.background {

    background: linear-Gradient(rgba(0,0,0,801), rgba(41, 36, 36, 0.284)), url(IMG/fundo2.jpg);
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; 
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;

}

header {

  display: flex;
  justify-content: space-around;
  max-width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}


.cabeca{
display: flex;
gap: 3rem;
font-weight: 250;
cursor: pointer;
font-size: 15px;
}

.cabeca a{
  display: flex;
  gap: 3rem;
  color: azure;
}
.cabeca a:hover{
  color: rgb(13, 62, 19) ;
  transition: 0.6s;
  transition: 0.5s all;
}




.botao{

  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 15px;
  padding: 5px;
  font-size: 12px;
  width: 150px;
  border: solid 2px rgb(13, 62, 19) ;
  transition: 0.6s;
  cursor: pointer;
}

.botao:hover {

  background-color: rgb(13, 62, 19) ;
  transition: 0.6s;
  color: black;
  cursor: pointer;
}

.container-texto {

  padding: 0px 0 0 10px;
}


.text {

    display: flexbox;
color: aliceblue;
    margin-left: 1rem;
    margin-bottom: 1rem;
   
}

  .paragrafo {

    color: aliceblue;
    margin-top: 5px;
  } 

  .maintxt {

    color: white;
    font-size: 14px;
  }
  h4 {

    font-size: 30px;
    color: rgb(56, 123, 75);
  }
  
  h5 {

    font-size: 13px
  }

@media screen and (max-width: 768px) {
  

  *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', 'Castoro', sans-serif;
}

.background {

  background: linear-Gradient(rgba(0,0,0,801), rgba(41, 36, 36, 0.284)), url(IMG/fundo2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
}

header {

  display: flex;
  justify-content: space-around;
  max-width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 5px;
}
.cabeca{
display: flex;
gap: 3rem;
font-weight: 250;
cursor: pointer;
font-size: 15px;
}

.cabeca a{
  display: flex;
  gap: 3rem;
  color: azure;
}
.cabeca a:hover{
  color: rgb(13, 62, 19) ;
  transition: 0.6s;
  transition: 0.5s all;
}

.botao{

  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 15px;
  padding: 5px;
  font-size: 12px;
  width: 120px;
  border: solid 2px rgb(13, 62, 19) ;
  transition: 0.6s;
  cursor: pointer;
}

.botao:hover {

  background-color: rgb(13, 62, 19) ;
  transition: 0.6s;
  color: black;
  cursor: pointer;
}

.main {

    display: flexbox;
    justify-content: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
}



  .paragrafo {

    color: aliceblue;
    margin-top: 5px;
   padding: 90px 0 0 150px;

}

.texto h3 {

    color: rgb(255, 255, 255);
}

.texto {

    color: white;
}

  .maintxt {

    color: white;
    font-size: 16px;
  }
  h3 {

    font-size: 30px;
    color: aqua;
  }
  
  h5 {

    font-size: 13px
  }
  }